.itemContainer {
    display: flex;
    margin: auto;
    width: 75%;
    justify-content: space-between;
    margin-top: -70px;
}

.items {
    border-bottom: solid;
    height: 60px;
    font-family: Snell Roundhand, cursive;
    font-size: 25px;
    cursor: pointer;
}

